.container {
    padding: 24px;
    height: 400vh;
    position: relative;
    background-color: azure;
}

.header {
    display:flex;

    justify-content: center;
    align-items: center;
    
   
}

.footer {
    position:absolute;
    bottom: 0; 
    width: 99%;
    text-align: center;
    font-size: 0.75rem;
   
 
}

.logo{
    height: 100px;
    
}

